@headingColor: rgb(112, 207, 176);

.fansay-border(@borderWidth: 0.1rem, @borderColor: blue) {
  border-bottom: @borderWidth dashed @borderColor;
}

.Page-heading {
  text-align: center;
  font-weight: bolder;
}

p {
  color: @headingColor;
  text-align: center;
  .fansay-border;
}
